.navbar {
    color: #9D6381;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
  margin: 0;   
 
}

.link-btn{
  color: #0F110C;
  margin-left: 20px;         
  text-decoration: none;
  border-radius: 50px;
  background: #FDECEF;
  padding: 5px;
} 